/* Watch Command */
/* stylus -w board.styl -o board.css */

body
	background-image url("../imgs/woodBG.jpg")
	background-size cover
	background-repeat no-repeat
	background-position center center
	width 100vW
	height 100vH
	overflow hidden
	
.dice 
	width 100px
	height 100px
	background-color black
	transform translate(300px, 230px)
	position absolute
	left 10%
	top 50%
	background-image: url("../DiceFaces/Dice1.jpg")
	background-position: center center
	background-size cover
	background-repeat no-repeat

.activityHolder {
	width 300px
	height 500px
	background-color white
	position absolute
	left 250px
	top 15%
	overflow scroll
}

.rollDice {
	width 100px
	height 100px
	transform translate(180px, 230px)
	position absolute
	left 10%
	top 50%

}

.playerState {
	position absolute
	top 5%
	left 9%
	font-size 25px
	color white
	width 100%
}

.player {
	font-size 20px
}

.actions {
	font-size 15px
}

.separator {
	width 100%
	height 10px
	background-color black
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	